<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        div.col-lg-1 {
            border-style: solid;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-lg-1" style="margin-left: 28%">1</div>
    <div class="col-lg-1">2</div>
    <div class="col-lg-1">3</div>
    <div class="col-lg-1">4</div>
    <div class="col-lg-1">5</div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
